Source: sievelib
Section: python
Priority: optional
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.3

Package: python-sievelib
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Client-side SIEVE library
 sievelib
 ========
 .
 Client-side Sieve and Managesieve library written in Python.
 .
 * Sieve : An Email Filtering Language
   (`RFC 5228 <http://tools.ietf.org/html/rfc5228>`_)
 * ManageSieve : A Protocol for Remotely Managing Sieve Scripts
   (`Draft <http://tools.ietf.org/html/draft-martin-managesieve-12>`_)
 .
 Sieve tools
 -----------
 .
 What is supported
 ^^^^^^^^^^^^^^^^^
 .
 Currently, the provided parser supports most of the functionalities
 described in the RFC. The only exception concerns section
 *2.4.2.4. Encoding Characters Using "encoded-character"* which is not
 supported.
