Source: cyrus-imapd
Section: mail
Priority: extra
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Uploaders: Paul Klos <kolab@klos2day.nl>
Standards-Version: 3.9.1
Build-Depends:
    autoconf,
    automake,
    autotools-dev,
    bison,
    comerr-dev,
    debhelper (>= 5),
    flex,
    ghostscript | gs-gpl,
    groff,
    heimdal-dev,
    libdb5.1-dev | libdb-dev,
    libkvm-dev [kfreebsd-amd64],
    libkvm-dev [kfreebsd-i386],
    libjansson-dev,
    libldap2-dev,
    libpam0g-dev,
    libpcre3-dev,
    libsasl2-dev (>= 2.1.9),
    libsnmp-dev | libsnmp9-dev,
    libssl-dev,
    libtool,
    libwrap0-dev,
    libzephyr-dev,
    lsb-base,
    perl,
    pkg-config,
    po-debconf,
    tcl-dev | tcl8.3-dev,
    transfig,
    xutils-dev | xutils,
    zlib1g-dev
Vcs-Browser: http://git.kolabsys.com/apt/cyrus-imapd/
Vcs-Git: git://git.kolabsys.com/git/apt/cyrus-imapd
Homepage: http://www.cyrusimap.org/

Package: cyrus-imapd
Architecture: any
Section: mail
Depends: postfix | mail-transport-agent, adduser (>= 3.34), dpkg (>> 1.9.0), netbase (>= 4.07), gawk, ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Suggests: sasl2-bin, apt-listchanges (>= 2.35)
Conflicts: imap-server,
	pop3-server,
	suidmanager (<< 0.50),
	cyrus-common,
	cyrus21-common,
	cyrus22-common,
	cyrus-common-2.2,
	cyrus23-common,
	cyrus-common-2.3,
	cyrus24-common,
	cyrus-common-2.4
Replaces: cyrus22-common,
	cyrus22-imapd,
	cyrus-common-2.2,
	cyrus-imapd-2.2,
	cyrus23-common,
	cyrus23-imapd,
	cyrus-common-2.3,
	cyrus-imapd-2.3,
	cyrus24-common,
	cyrus24-imapd,
	cyrus-common-2.4,
	cyrus-imapd-2.4
Provides: imap-server,
	pop3-server,
	cyrus22-common,
	cyrus-common-2.2,
	cyrus-imapd-2.2,
	cyrus23-common,
	cyrus-common-2.3,
	cyrus-imapd-2.3,
	cyrus24-common,
	cyrus-common-2.4,
	cyrus-imapd-2.4
Description: Cyrus IMAP Server
 Cyrus is an IMAP server designed to handle massive quantities of mail,
 with a number of features not found in other IMAP implementations,
 including support for:
  - running the daemon without root privileges;
  - POP3 in addition to plain IMAP;
  - POP/IMAP-before-SMTP using DRAC;
  - secure IMAP using SSL;
  - server-side filtering with Sieve;
  - mail users without login accounts;
  - simple mail quotas;
  - virtual domains;
  - IPv6.
 .
 Cyrus doesn't support reading from and storing mail in the
 standard mail spool. It stores mail in a separate directory in its
 own MH-like format.

