#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	mkdir -p $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/plugins/sauserprefs/
	mkdir -p $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/etc/roundcubemail/

	cp -av \
		CHANGELOG \
		README.md \
		config.inc.php.dist \
		sauserprefs.js \
		sauserprefs.php \
		lib \
		localization \
		skins \
		$(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/plugins/sauserprefs/

	# Compress the CSS
	for file in `find $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/ -type f -name "*.css"`; do \
		asset_loc=$$(dirname $$(echo $$file | sed -e "s|/usr/share/roundcubemail/|/usr/share/roundcubemail/public_html/assets/|g")) ; \
		install -pm 755 -d $$asset_loc ; \
		cp -av $$file $$asset_loc/$$(basename $$file) ; \
	done

	# Compress the JS
	for file in `find $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/ -type f -name "*.js"`; do \
		asset_loc=$$(dirname $$(echo $$file | sed -e "s|/usr/share/roundcubemail/|/usr/share/roundcubemail/public_html/assets/|g")) ; \
		install -pm 755 -d $$asset_loc ; \
		cp -av $$file $$asset_loc/$$(basename $$file) ; \
	done

	# Other assets
	for file in $$(find $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/ -type f \
			-name "*.eot" -o \
			-name "*.gif" -o \
			-name "*.ico" -o \
			-name "*.jpg" -o \
			-name "*.png" -o \
			-name "*.svg" -o \
			-name "*.swf" -o \
			-name "*.tif" -o \
			-name "*.ttf" -o \
			-name "*.woff" \
		); do \
		asset_loc=$$(dirname $$(echo $$file | sed -e "s|/usr/share/roundcubemail/|/usr/share/roundcubemail/public_html/assets/|g")) ; \
		install -pm 755 -d $$asset_loc ; \
		cp -av $$file $$asset_loc/$$(basename $$file); \
	done

	find $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/ | sort

	mv -v $(CURDIR)/debian/roundcubemail-plugin-sauserprefs/usr/share/roundcubemail/plugins/sauserprefs/config.inc.php.dist \
		$(CURDIR)/debian/roundcubemail-plugin-sauserprefs/etc/roundcubemail/sauserprefs.inc.php
