Source: php-enygma-yubikey
Section: php
Priority: optional
Maintainer: Daniel Hoffend <dh@dotlan.net>
Uploaders: Daniel Hoffend <dh@dotlan.net>
Build-Depends: debhelper (>= 9),
               phpunit,
               pkg-php-tools (>= 1.7~)
Standards-Version: 3.9.6
Homepage: https://github.com/enygma/yubikey

Package: php-enygma-yubikey
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Suggests: ${phpcomposer:Debian-suggest}
Description:  PHP library to interface with the Yubikey REST API
