Source: php-spomky-labs-otphp
Section: php
Priority: extra
Maintainer: Christoph Erhardt <kolab@sicherha.de>
Build-Depends: debhelper (>= 8), composer
Standards-Version: 3.9.3
Homepage: https://github.com/spomky-labs/otphp

Package: php-spomky-labs-otphp
Architecture: all
Depends:
        php5 | php,
        php-christianriesen-base32,
        ${misc:Depends}
Description: Generate One-Time Passwords
 A php library for generating one-time passwords according to RFC 4226
 (HOTP Algorithm) and RFC 6238 (TOTP Algorithm).
