#!/usr/bin/make -f

#export DH_OPTIONS=-v
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	mkdir -p $(CURDIR)/debian/php-spomky-labs-otphp/usr/share/php/OTPHP/
	cp -pr lib/* $(CURDIR)/debian/php-spomky-labs-otphp/usr/share/php/OTPHP/.
