Source: python-icalendar
Section: python
Priority: optional
Maintainer: Paul Klos <kolab@klos2day.nl>
Build-Depends: autotools-dev,
                debhelper (>= 8),
                python (>= 2.7~),
                python-support,
                python-setuptools,
Standards-Version: 3.9.3
Homepage: http://codespeak.net/icalendar/

Package: python-icalendar
Architecture: all
Depends: ${python:Depends}, python-tz, ${misc:Depends}
Description: Internet Calendaring and Scheduling (iCalendar) for Python
 The icalendar package is a parser/generator
 of iCalendar files for use with Python.
