#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

DESTDIR = $(CURDIR)/debian/guam

%:
	dh $@ --with=systemd

override_dh_auto_build:
	sed -i 's/"0\.9\.0"/"$(DEB_VERSION_UPSTREAM)"/' rebar.config
	export DEBUG=1
	export HEX_OFFLINE=1
	rebar3 release \
		--dev-mode false \
		--relname guam \
		--relvsn $(DEB_VERSION_UPSTREAM) \
		--verbose

override_dh_auto_test:
	rebar3 eunit -v || :

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/sbin $(DESTDIR)/etc/guam \
		$(DESTDIR)/lib/systemd/system $(DESTDIR)/var/log/ \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/ \
		$(DESTDIR)/usr/lib/erlang/bin $(DESTDIR)/var/log/guam

	install -p -m 644 contrib/guam.service \
	        $(DESTDIR)/lib/systemd/system/guam.service

	cp -a _build/default/rel/guam/bin \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/

	cp -a _build/default/rel/guam/lib/kolab_guam-$(DEB_VERSION_UPSTREAM)/ebin \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/

	rm _build/default/rel/guam/releases/$(DEB_VERSION_UPSTREAM)/sys.config
	rm _build/default/rel/guam/releases/$(DEB_VERSION_UPSTREAM)/vm.args

	cp -a _build/default/rel/guam/releases \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/

	if [ -f "/etc/plesk-release" ]; then \
		cp ../SOURCES/plesk.sys.config \
			$(DESTDIR)/etc/guam/sys.config ; \
	else \
		sed -i -e 's/pki\/tls\/private\/localhost\.pem/ssl\/certs\/ssl-cert-snakeoil.pem/' \
			-e 's/pki\/tls\/private\/localhost\.ca\.pem/ssl\/certs\/ssl-cert-snakeoil.pem/' \
			-e 's/pki\/tls\/private\/localhost\.key/ssl\/private\/ssl-cert-snakeoil.key/' \
			_build/default/rel/guam/etc/sys.config ; \
		cp _build/default/rel/guam/etc/sys.config \
			$(DESTDIR)/etc/guam/sys.config ; \
	fi

	ln -s ../../../../../../../etc/guam/sys.config \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/releases/$(DEB_VERSION_UPSTREAM)/sys.config

	cp _build/default/rel/guam/vm.args $(DESTDIR)/etc/guam/vm.args

	ln -s ../../../../../../../etc/guam/vm.args \
		$(DESTDIR)/usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/releases/$(DEB_VERSION_UPSTREAM)/vm.args

	#mv $(DESTDIR)//usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/log/ $(DESTDIR)/var/log/guam
	#ln -s ../../../../../var/log/guam /usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/log

	echo '#!/bin/bash' > $(DESTDIR)/usr/sbin/guam
	echo 'exec /usr/lib/erlang/lib/guam-$(DEB_VERSION_UPSTREAM)/bin/guam $$*' \
	     >> $(DESTDIR)/usr/sbin/guam
	chmod +x $(DESTDIR)/usr/sbin/guam

	ln -s ../lib/guam-$(DEB_VERSION_UPSTREAM)/bin/guam \
		$(DESTDIR)/usr/lib/erlang/bin/kolab_guam
