Source: kolab-autoconf
Maintainer: André Keller <andre.keller@vshn.ch>
Section: database
Priority: optional
Build-Depends: debhelper (>=9.0.0)
Standards-Version: 3.9.5

Package: kolab-autoconf
Architecture: all
Depends: ${misc:Depends}
Description: Autodiscovery component for kolab
 Autodiscover service implements automatic account configuration for email
 and ActiveSync clients.
