#!/usr/bin/make -f

export DH_OPTIONS=-v
export DH_VERBOSE=1

override_dh_auto_install:
	if [ ! -f "/etc/plesk-release" ]; then \
		echo "misc:Depends=php-kolab-net-ldap3" >> $(CURDIR)/debian/kolab-autoconf.substvars ; \
	fi

	dh_auto_install

%:
	dh $@
