[Unit]
Description=389 Administration Server.
After=network.target dirsrv.target

[Service]
Type=forking
PIDFile=/run/dirsrv/admin-serv.pid
# to set the kerberos keytab
# Environment=KRB5_KTNAME=/etc/dirsrv/myname.keytab
EnvironmentFile=/etc/default/dirsrv-admin
ExecStart=/usr/sbin/apache2 -k start -f /etc/dirsrv/admin-serv/httpd.conf
ExecReload=/usr/sbin/apache2 -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/apache2 $OPTIONS -k stop -f /etc/dirsrv/admin-serv/httpd.conf
# to raise the file descriptor limit
# LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
