Source: php-christianriesen-base32
Section: php
Priority: extra
Maintainer: Christoph Erhardt <kolab@sicherha.de>
Build-Depends: debhelper (>= 8), composer
Standards-Version: 3.9.3
Homepage: https://github.com/ChristianRiesen/base32

Package: php-christianriesen-base32
Architecture: all
Depends:
        php5 | php,
        ${misc:Depends}
Description: Base32 Encoder/Decoder for PHP according to RFC 4648
