#!/usr/bin/make -f

#export DH_OPTIONS=-v
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	# Do not attempt to run ant

override_dh_auto_build:
	# Seriously, don't use ant!

override_dh_install:
	mkdir -p $(CURDIR)/debian/php-christianriesen-base32/usr/share/php/Base32/
	cp -pr src/* $(CURDIR)/debian/php-christianriesen-base32/usr/share/php/Base32/.
