[Unit]
Description=Intelligent IMAP Reverse Proxy
After=syslog.target

[Service]
ExecStart=/usr/sbin/guam foreground
Restart=always
StandardOutput=syslog
SyslogIdentifier=guam
Environment=HOME=/opt/kolab_guam/

# No proper setuid/setgid in guam yet. See T971.
#User=guam
#Group=guam

[Install]
WantedBy=multi-user.target

