#!/usr/bin/make -f

export DH_OPTIONS=-v
export DH_VERBOSE=1

override_dh_auto_install:
	# Test to see if we are building for a UCS platform
	if [ -x "$$(which univention-install-config-registry 2>/dev/null)" ]; then \
		cp -av $(CURDIR)/ucs/conffiles/ $(CURDIR)/. ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.univention-config-registry $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.univention-config-registry-categories $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.univention-config-registry-variables $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.univention-service $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.univention-config-registry $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.univention-config-registry-categories $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.univention-config-registry-variables $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.univention-config-registry $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-webclient.univention-config-registry $(CURDIR)/debian/ ; \
		cp -av $(CURDIR)/ucs/debian/kolab-webclient.univention-config-registry-variables $(CURDIR)/debian/ ; \
		univention-install-config-registry --verbose ; \
		cp -av $(CURDIR)/ucs/kolab-imap-join-script.sh $(CURDIR)/81kolab-imap.inst ; \
		cp -av $(CURDIR)/ucs/kolab-imap-passwd-change.sh $(CURDIR)/kolab-imap ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.dirs $(CURDIR)/debian/kolab-imap.dirs ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.install $(CURDIR)/debian/kolab-imap.install ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.postinst $(CURDIR)/debian/kolab-imap.postinst ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.preinst $(CURDIR)/debian/kolab-imap.preinst ; \
		cp -av $(CURDIR)/ucs/debian/kolab-imap.prerm $(CURDIR)/debian/kolab-imap.prerm ; \
		cp -av $(CURDIR)/ucs/kolab-mta-join-script.sh $(CURDIR)/67kolab-mta.inst ; \
		cp -av $(CURDIR)/ucs/kolab-mta-passwd-change.sh $(CURDIR)/kolab-mta ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.dirs $(CURDIR)/debian/kolab-mta.dirs ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.install $(CURDIR)/debian/kolab-mta.install ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.postinst $(CURDIR)/debian/kolab-mta.postinst ; \
		cp -av $(CURDIR)/ucs/debian/kolab-mta.preinst $(CURDIR)/debian/kolab-mta.preinst ; \
		cp -av $(CURDIR)/ucs/kolab-ucs-join-script.sh $(CURDIR)/65kolab-ucs.inst ; \
		cp -av $(CURDIR)/ucs/kolab-ucs-passwd-change.sh $(CURDIR)/kolab-ucs ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.dirs $(CURDIR)/debian/kolab-ucs.dirs ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.install $(CURDIR)/debian/kolab-ucs.install ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.postinst $(CURDIR)/debian/kolab-ucs.postinst ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.preinst $(CURDIR)/debian/kolab-ucs.preinst ; \
		cp -av $(CURDIR)/ucs/debian/kolab-ucs.prerm $(CURDIR)/debian/kolab-ucs.prerm ; \
		cp -av $(CURDIR)/ucs/kolab-webclient-join-script.sh $(CURDIR)/85kolab-webclient.inst ; \
		cp -av $(CURDIR)/ucs/kolab-webclient-passwd-change.sh $(CURDIR)/kolab-webclient ; \
		cp -av $(CURDIR)/ucs/kolab_ucs_logo.png $(CURDIR)/. ; \
		cp -av $(CURDIR)/ucs/debian/kolab-webclient.dirs $(CURDIR)/debian/kolab-webclient.dirs ; \
		cp -av $(CURDIR)/ucs/debian/kolab-webclient.install $(CURDIR)/debian/kolab-webclient.install ; \
		cp -av $(CURDIR)/ucs/debian/kolab-webclient.postinst $(CURDIR)/debian/kolab-webclient.postinst ; \
		for pkg in kolab kolab-imap kolab-mta kolab-webclient; do \
			echo "ucs:Depends=kolab-ucs,roundcubemail-skin-kolab" >> $(CURDIR)/debian/$${pkg}.substvars ; \
		done ; \
		echo "ucs:Depends=kolab-ucs" >> $(CURDIR)/debian/kolab-ldap.substvars ; \
		echo "ucs:Pre-Depends=kolab-schema" >> $(CURDIR)/debian/kolab-ldap.substvars ; \
		echo "ucs:Conflicts=univention-mail-postfix,univention-mail-postfix-forward,univention-mail-postfix-kolab2" >> $(CURDIR)/debian/kolab-mta.substvars ; \
		echo "ucs:Provides=univention-mail-postfix,univention-mail-postfix-forward,univention-mail-postfix-kolab2" >> $(CURDIR)/debian/kolab-mta.substvars ; \
		echo "ucs:Replaces=univention-mail-postfix,univention-mail-postfix-forward,univention-mail-postfix-kolab2" >> $(CURDIR)/debian/kolab-mta.substvars ; \
	else \
		echo "nonucs:Depends=kolab-webadmin" >> $(CURDIR)/debian/kolab.substvars ; \
	fi
	dh_auto_install

%:
	dh $@
