Source: kolab-schema
Section: mail
Priority: extra
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Uploaders: Paul Klos <kolab@klos2day.nl>
Build-Depends: debhelper (>= 8),
    univention-config-dev | bash
Standards-Version: 3.9.3
Homepage: http://www.kolab.org
Vcs-Git: git://git.kolabsys.com/git/apt/kolab-schema
Vcs-Browser: http://git.kolabsys.com/apt/kolab-schema

Package: kolab-schema
Architecture: all
Depends: ${misc:Depends}
Conflicts: ${ucs:Conflicts}
Provides: ${ucs:Provides}
Replaces: ${ucs:Replaces}
Description: LDAP schema files for Kolab Groupware
 Two LDAP schema extension files needed for Kolab Groupware.
 .
 One version is for use with OpenLDAP, the other for use with
 389 Directory Server.
