%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-

[
{ kolab_guam,
  [
    { imap_servers, [
                { default, [
                                { host, "192.168.56.102" },
                                { port, 994 },
                                { tls, true }
                           ]
                },
                { test_default, [
                                { host, "192.168.56.101" },
                                { port, 993 },
                                { tls, false }
                           ]
                }
            ]
    },
    { listeners, [
            { default, [ { port, 1936 }, { imap_server, test_default } ]  }
        ]
    }
  ]
},
{ lager,
  [
    {
        handlers,
        [
            { lager_console_backend, info },
            { lager_file_backend, [ { file, "log/error.log"}, { level, error } ] },
            { lager_file_backend, [ { file, "log/console.log"}, { level, debug } ] }
        ] }
  ] }
].
