Source: php-sabre-event
Section: php
Priority: optional
Maintainer: Kolab for Debian testing <devel@lists.kolab.org>
Uploaders: hede <kolab983@der-he.de>
Build-Depends: debhelper (>= 9), phpunit, php-symfony-classloader, pkg-php-tools (>= 1.7~)
Standards-Version: 3.9.6
Homepage: http://sabre.io/event/
Vcs-Git: git://anonscm.debian.org/pkg-php/php-sabre-event.git -b 1.0
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-php/php-sabre-event.git

Package: php-sabre-event
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}
Suggests: ${phpcomposer:Debian-suggest}
Replaces: ${phpcomposer:Debian-replace}
Breaks: ${phpcomposer:Debian-conflict}, ${phpcomposer:Debian-replace}
Provides: ${phpcomposer:Debian-provide}
Description: lightweight library for event-based development
 ${phpcomposer:description}.
 This library provides two patterns:
  * EventEmitter
  * Promises
 .
 It provides some features like prioritization, and the ability to stop
 the event chain, like JavaScript’s preventDefault.

