Source: kolab-release
Section: mail
Priority: extra
Maintainer: Kolab Systems AG <contact@kolabsys.com>
Uploaders: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>,
	Christoph Wickert <wickert@kolabsys.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.kolabsys.com
Vcs-Git: git://git.kolabsys.com/ucs/kolab-release
Vcs-Browser: http://git.kolabsys.com/ucs/kolab-release

Package: kolab-16-release
Architecture: all
Depends: ${misc:Depends},
	apt-transport-https
Conflicts: kolab-13-community-release,
    kolab-14-community-release
Replaces: kolab-2.3-enterprise-release,
    kolab-13-enterprise-release,
    kolab-14-enterprise-release
Description: Kolab 16
 This package contains the necessary repository configuration
 to enable the installation of Kolab 16

Package: kolab-16-release-development
Architecture: all
Depends: ${misc:Depends},
	kolab-16-release,
	apt-transport-https
Conflicts: kolab-2.3-community-release-development,
    kolab-13-community-release-development
Replaces: kolab-2.3-enterprise-release-development,
    kolab-13-enterprise-release-development,
    kolab-14-enterprise-release-development
Description: Kolab 16
 This package contains the necessary repository configuration
 to enable the development repositories on a Kolab 14 system
