Source: php-endroid-qrcode
Section: php
Priority: extra
Maintainer: Christoph Erhardt <kolab@sicherha.de>
Build-Depends: debhelper (>= 8), composer
Standards-Version: 3.9.3
Homepage: https://github.com/endroid/qrcode

Package: php-endroid-qrcode
Architecture: all
Depends:
        php5 | php,
        php5-gd | php-gd,
        ${misc:Depends}
Description: Endroid QR-Code Generator
 This library based on QRcode Perl CGI & PHP scripts by Y.
 Swetake helps you generate images containing a QR code.
