#!/usr/bin/make -f

#export DH_OPTIONS=-v
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	mkdir -p $(CURDIR)/debian/php-endroid-qrcode/usr/share/php/Endroid/QrCode/
	cp -pr assets $(CURDIR)/debian/php-endroid-qrcode/usr/share/php/Endroid/.
	cp -pr src/* $(CURDIR)/debian/php-endroid-qrcode/usr/share/php/Endroid/QrCode/.
