Source: roundcubemail-plugin-dblog
Section: web
Priority: extra
Maintainer: Christoph Wickert <wickert@kolabsys.com>
Uploaders: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>, Paul Klos <kolab@klos2day.nl>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Vcs-Git: git://git.kolabsys.com/git/apt/roundcube-plugins-kolab
Vcs-Browser: http://git.kolabsys.com/apt/roundcube-plugins-kolab.git

Package: roundcubemail-plugin-dblog
Architecture: all
Depends:	roundcubemail (>= 0.9)
Description: skinnable AJAX based webmail solution - dblog plugin
 Adds the database logs table as a possible location for log entries
