[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
{ kolab_guam,
  [
    { imap_servers, [
                { default, [
                                { host, "192.168.56.101" },
                                { port, 143 },
                                { tls, no }
                           ]
                },
                { kolabsys, [
                                { host, "imap.kolabsys.com" },
                                { port, 143 },
                                { tls, starttls }
                           ]
                }
            ]
    },
    { listeners, [
            { default, [
                         { port, 1143 },
                         { imap_server, default },
                         { rules, [
                                   { filter_groupware, [] }
                                  ]
                         },
                         { tls_config, [ { certfile, "/etc/ssl/sample.pem" } ] }
                       ]
            },
            { default_tls, [
                         { port, 1993 },
                         { imap_server, default },
                         { rules, [
                                   { filter_groupware, [] }
                                  ]
                         },
                         { implicit_tls, true },
                         { tls_config, [ { certfile, "/etc/ssl/sample.cert" }, { keyfile, "/etc/ssl/sample.key" } ] }
                       ]
            },
            { kolabsys, [
                         { port, 1994 },
                         { imap_server, kolabsys },
                         { rules, [
                                   { filter_groupware, [] }
                                  ]
                         }
                       ]
            }
        ]
    }
  ]
},
{ lager,
  [
    {
        handlers,
        [
            { lager_console_backend, debug },
            { lager_file_backend, [ { file, "log/error.log"}, { level, error } ] },
            { lager_file_backend, [ { file, "log/console.log"}, { level, debug } ] }
        ] }
  ] }
].

