Source: roundcubemail-skin-chameleon
Section: web
Priority: extra
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Uploaders: Paul Klos <kolab@klos2day.nl>
Build-Depends: debhelper (>= 8), node-less (>= 1.7.0), nodejs
Standards-Version: 3.9.3

Package: roundcubemail-skin-chameleon
Architecture: all
Depends:	roundcubemail (>= 0.9)
Description: skinnable AJAX based webmail solution - Kolab skin
 Adds the Kolab skin to Roundcube
